{% extends 'base.html.twig' %}

{% block title %}Hello ReportController!{% endblock %}

{% block body %}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper" style="display:flex">
    <div>
        {{ form(form) }}
    </div>
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-0pky">Nazwa</th>
            <th class="tg-0pky">Data</th>
            <th class="tg-0pky">Godzina</th>
            <th class="tg-0pky">Użytkownik</th>
            <th class="tg-0pky">Lokal</th>
        </tr>
        </thead>
        <tbody>
        {% for report in report_data %}
        <tr>
            <td class="tg-0pky">{{ report.exportName }}</td>
            <td class="tg-0pky">{{ report.exportTime|date('d-m-Y') }}</td>
            <td class="tg-0pky">{{ report.exportTime|date('H:i:s') }}</td>
            <td class="tg-0pky">{{ report.userName }}</td>
            <td class="tg-0pky">{{ report.placeName }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
